/* You can add global styles to this file, and also import other style files */

// BOOTSTRAP -> angular.json
// @import "~bootstrap/scss/bootstrap.scss";
// @import "~bootstrap-icons/font/bootstrap-icons.css";

// COLORS -> 0 (+ important) - 5 (- important)
:root {
    --navbar-size: 3rem;
    --sidebar-size: 12rem;
    --color-navbar: #0d6efd;
    --color-sidebar: #ececec;
    --bs-body-color: #495057 !important;
}

[data-bs-theme=dark] {
    --color-navbar: #2C2C2C;
    --color-sidebar: #252525;
    --bs-body-bg: #1C1C1C !important;
    --bs-body-color: #9E9E9E !important;
}

// LIGHT THEME ICON
.bi-theme::before {
    content: "\f1d2" !important;
}

// DARK THEME ICON
[data-bs-theme=dark] {
    .bi-theme::before {
        content: "\f496" !important;
    }
}

/* CHEVRON ROTATE IF EXPANDED */

*>.dropdown-chevron {
    transition: transform 0.3s ease-out;
    transform: rotate(-90deg);
}

*[aria-expanded="true"]>.dropdown-chevron {
    transform: rotate(0deg);
}